html {
	position: relative;
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/* force main content container to take all the free space vertically */
.main-content {
	flex: 1;
}

/* style header section of main content */
.main-content-header {
	margin-bottom: 1em;
}

.main-content-header .title {
	font-size: 150%;
}

/* style footer section of main content */
.main-content-footer {
	margin-top: 1em;
}


/* make last column of entity list tables to always fit contents without wrapping */
table.entitylist thead tr th:last-child, table.entitylist tbody tr td:last-child {
	width: 1px;
	white-space: nowrap;
}

/* color header of entity list tables */
table.entitylist thead {
	background-color: lightblue;
}

/* vertically center entity list table body cell contents */
table.entitylist tbody tr {
	vertical-align: middle;
}

/** set minimum width of entity list tables to nicely fit elements added by datatables plugin */
table.entitylist
{
	min-width: 600px;
}


/* set minimum width on forms */
form {
	min-width: 100ch;
}

/* add vertical space between field sets */
form fieldset {
	margin-bottom: 1em;
}

/* add vertical space between form groups */
.form-group {
	margin-bottom: 1em;
}
